
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header" style="text-align: center">Create New Report
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">

            <form role="form" method="POST" action="#">

                <div class="row">
                    <span class="form-group col-md-3 col-md-offset-2 ">
                        <label for="input1">Suggested Words</label>
                    </span>
                    <span class="form-group ">
                        <span class="form-group col-md-6 ">
                            <input type="text" name="contact_name" class="form-control" id="input1" value="'security' '#Bangladesh' '#Russia' '#Syria'">
                        </span>
                    </span>
                </div>

            </form>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <canvas id="myChart"></canvas>

        <div id="container" style="max-width: 400px; height: 400px; margin: 0 auto"></div>

    </div>
</div><!-- /.container -->

<script type="text/javascript" >

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Occurrence of Search Term per Tweet'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                '',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '% occurence in tweets'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'middle east',
            data: [100.0]

        }, {
            name: 'NATO',
            data: [100.0]

        }, {
            name: 'Syria',
            data: [85.3]

        }, {
            name: 'Turkey',
            data: [74.2]

        }, {
            name: 'India',
            data: [21.2]

        }, {
            name: 'Russia',
            data: [41.7]

        }, {
            name: 'Lebanon',
            data: [31.8]

        }]
    });

</script>