{% extends "analysis.html" %}
{% block title %}TweetTracker -- Trends{% endblock %}
{% block head %}
{{ super() }}
<script src='/static/js/app/ttutilities/directives.js'></script>
<script src='/static/js/libs/morris.min.js'></script>
<script src='/static/js/libs/raphael.js'></script>
<script src='/static/js/app/trends/trends.js'></script>
<script src='/static/js/libs/jquery.tagsinput.min.js'></script>
<link rel="stylesheet" media="screen" href="/static/stylesheets/jquery.tagsinput.css" />
<link rel="stylesheet" media="screen" href="/static/stylesheets/morris.css" />
{% endblock %}
{% block content %}
{{ super() }}
{% endblock %}
{% block analysis_content %}
<div id="trends">
    <div data-ng-view></div>
</div>

<!-- Dynamically change the active tab in the navbar -->
<script type="text/javascript">
    $('#trends_nav').addClass('active');
</script>
{% endblock %}
