#divDist{
	position: absolute;
	border: solid 1px;
	padding: 3px;
	display: none;
	background-color: white;
	z-index: 1000;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
	
.piechart{
	width: 250px;
	height: 250px;
	display: inline-block;
}

.ldaTweetTable{
	width: 100%;
}