/*
CSS for cards displayed on Basic Stats page
*/



.top-buffer { margin-top:20px; }

.md-button.md-small {
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    margin: 0;
}

.md-button.md-small[disabled] {
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    margin: 0;
    background-color: rgba(107, 103, 91, 0.96);
    color: white;
}

md-card md-card-header{
    height: 46px !important;
    padding: 7px !important;
    border-radius: 5px 5px 0 0;
}
md-card md-card-footer{
    height: 40px !important;
    padding: 7px !important;
}