html,body {
    overflow-y : scroll;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

#job-display-table {
    margin-top: 10px;
}

#copyright {
    margin-top: 15px;
}

#map {
    margin-bottom: 15px;
}

.job-list {
    overflow-y: scroll;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    cursor: pointer;
}

.job-list label {
    display: block;
    font-weight: normal;
}

.crawling-job {
    color: blue;
}

.non-crawling-job {
    color: #E34234;
}

.container {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

span.map-popup-screenname{
    font-weight: bold;
}

p.map-popup-date{
    margin: 0;
    color: #808080;
    font-style: italic;
}

.translate {
    position: absolute;
    visibility: hidden;
}

td.ng-binding {
    position: relative;
}

.ng-binding:hover .translate {
    cursor: pointer;
    right: 5px;
    visibility: visible;
    position: absolute;
    bottom: 5px;
}
