
<div class="container">

    <div class="row">
    </div>
    <div class="row">
        <div class="col-sm-2" />

        <div class="col-sm-8" >
            <md-content class="md-padding">
                <md-tabs class="md-accent" md-selected="data.selectedIndex" md-dynamic-height md-border-bottom >
                    <md-tab ng-repeat="video in videos" label="{{video.name}}">
                        <md-content class="md-padding">
                            <iframe width="560" height="315" ng-src="{{video.url | trusted}}"
                                    frameborder="0" allowfullscreen></iframe>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>

        <div class="col-sm-2" />
    </div>
</div>