<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<style>
    .top-buffer { margin-top:20px; }

    .md-button.md-small {
        height: 30px;
        line-height: 20px;
        min-height: 20px;
        vertical-align: top;
        margin: 0;
    }

    md-card md-card-header{
        height: 46px !important;
        padding: 7px !important;
        border-radius: 5px 5px 0 0;
    }
    md-card md-card-footer{
        height: 40px !important;
        padding: 7px !important;
    }
    p {
	text-align: center;
	font-size: 30px;
	margin-top:0px;
}
</style>
<script>
// Set the date we're counting down to

// Update the count down every 1 second
var x = setInterval(function() {

var table = document.getElementById('crawl1');


var rowLength = table.rows.length;

for(var i=1; i<rowLength; i+=1){
  var row = table.rows[i];
  var cellLength = row.cells.length;
  
    //var cell = row.cells[2];
/////////////////
    var countDownDate = new Date(row.cells[2].innerHTML).getTime();;//new Date("Sep 5, 2018 15:37:25").getTime();
    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now an the count down date
    var distance = countDownDate - now +100000000;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
///////
if (distance < 0){

row.cells[1].innerHTML = "EXPIRED";
}else{
	row.cells[1].innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";;
    }
		



    }
}, 1000);
</script>

<div class="container">


    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header" style="text-align: center">My Jobs
            </h1>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-8 col-md-offset-1 btn-link" style="width: auto;color: black"  onclick="console.log('CLICKS'); window.location.reload(false);" >
            <i class="fa fa-home" style="padding-left: 20px"></i> My Jobs
        </div>

    </div>
    <div class="row ">
        <div  class="col-sm-1"></div>
        <div class="col-sm-10">
            <md-card >
                <md-card-header md-colors="::{backgroundColor: 'default-primary-900'}">
                    <md-card-header-text>
                        <span class="md-title">My Reports<md-button class="md-raised md-small md-warn pull-right" ng-click="go('/newReport')"> <i class="fa fa-plus"></i> New Report</md-button></span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <table ng-table="tableParams" class="table" >
                        <tr ng-repeat="report in reports" onmouseover="this.style.background='#F8F8F8';" onmouseout="this.style.background='white';">
                            <td  title="'Report' "sortable="'name'" ng-click="goreport('/basicstats/'+report.reportID,report.reportID)">
                                <center>
                                    <div class="btn btn-link" >{{report.reportname}}</div></center></td>
                            <td title="'Created On'" sortable="'createdOn'" ng-click="goreport('/basicstats',report.reportID)">
                                <center>{{report.createtime}}</center></td>
			    <td title="'Created On'" sortable="'createdOn'" ng-click="goreport('/basicstats',report.reportID)">
                                <center>{{report.createtime}}</center></td>
                            <td title="'Crawls'" sortable="'createdOn'" ng-click="goreport('/basicstats',report.reportID)">
                                <center>{{report.selectedJobs.join(", ")}}</center></td>
                            <td title="'Actions'" sortable="'action'">
                                <report:actionbutton reportid="{{ report.reportID }}"></report:actionbutton>
                            </td>
                        </tr>
                    </table>
                </md-card-content>
                <md-card-footer md-colors="::{backgroundColor: 'default-primary-200'}" >
                    <span><b>{{reports.length}} reports </b></span>
                </md-card-footer>
            </md-card>

        </div>
    </div>




    <div class="row top-buffer">
        <div  class="col-sm-1"></div>
        <div class="col-sm-10">
            <md-card >
                <md-card-header md-colors="::{backgroundColor: 'default-primary-900'}">
                    <md-card-header-text>
                        <span class="md-title">My Crawl<md-button class="md-raised md-small md-warn pull-right" ng-click="go('/newCrawl')"> <i class="fa fa-plus"></i> New Crawl</md-button></span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <table id="crawl1" ng-table="tableParams" class="table" >
                        <tr ng-repeat="job in $data">
                            <td  title="'Crawl' "sortable="'name'">
                                {{job.name}}</td>
			    <td  title="'Status' "sortable="'createdOn'">
                                <div class='demo'></p></td>
                            <td title="'Created On'" sortable="'createdOn'">
                                {{job.createstring}}</td>
                            <td width="600px" title="'Keywords'" sortable="'keywords'">
                                {{job.keywords.join(', ')}}</td>
                            <!--td  width="200px" title="'Users'" sortable="'users'">
                                {{job.users.join(', ')}}</td-->
                            <td title="'Actions'" sortable="'action'">
                                <!--<action-button crawlid="35"></action-button>-->
                                 <job:actionbutton jobid="{{job.id}}"></job:actionbutton>
                            </td>
                        </tr>
                    </table>
                </md-card-content>
                <md-card-footer md-colors="::{backgroundColor: 'default-primary-200'}" >
                    <span><b>{{crawlCount}} crawls </b></span>
                </md-card-footer>
            </md-card>

        </div>
    </div>

</div>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
