<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="text-align: center">Create New Report
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-8">
            <form name="newreportform" ng-submit="submit()">
                <div class="row">
                    <div class="col-lg-4">
                        Report Name:
                    </div>
                    <div class="col-lg-5">
                        <input name="reportname" class="selectize-input" type="text" ng-model="report.name" style="width: 100%" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Select Crawlers:
                    </div>
                    <div class="col-lg-5">
                        <select config="myConfig" id="selo" multiple="multiple">
                            <option ng-repeat="job in jobs"
                                    value="{{job}}">
                                {{job}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Date Range:
                    </div>
                    <div class="col-lg-8">
                        From    <md-datepicker
                            ng-model="report.startDate"
                            md-placeholder="Enter date"
                            md-current-view="year"></md-datepicker>
                        To <md-datepicker
                            ng-model="report.endDate"
                            md-placeholder="Enter date"
                            md-current-view="year"></md-datepicker>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        Filter Map By:
                    </div>
                    <div class="col-lg-5">
                        <label><input
                                type="checkbox"
                                id="tweetMapFilter"
                                value="Tweets"
                                checked="checked"
                        /> Tweets</label>
                        <label style="padding-left: 30px"><input
                                type="checkbox"
                                id="imageMapFilter"
                                value="Images"
                                checked="checked"
                        /> Images
                        </label>
                        <label style="padding-left: 30px"><input
                                type="checkbox"
                                id="videoMapFilter"
                                value="Videos"
                                checked="checked"
                        /> Videos
                        </label>
                    </div>
                </div>

                <div class="row">
                    <span class="form-group col-md-4">
                        <h3><b>Words</b></h3>
                    </span>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        All of these words
                    </div>
                    <div class="col-lg-5">
                        <input type="text" style="width: 100%" ng-model="report.allWords" id="input2">
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-4">
                        Any of these words
                    </div>
                    <div class="col-lg-5">
                        <input type="text" style="width: 100%" ng-model="report.anyWords" id="input3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        None of these words
                    </div>
                    <div class="col-lg-5">
                        <input type="text" style="width: 100%" ng-model="report.excludedWords" id="input4">
                    </div>
                </div>



                <div class="row">
         <span data-ng-click="showDetails=!showDetails">
            <md-button class="md-raised md-small md-warn">
               <i class="fa fa-chevron-down" ng-show="!showDetails"></i><i class="fa fa-chevron-up"
                                                                           ng-show="showDetails"></i>
               Advanced Report
            </md-button>
         </span>
                    <div ng-show="showDetails">
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
                  <h3><b>Words</b></h3>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input1">This exact phrase</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-md-3 ">
               <input type="text" name="contact_name"  id="input1">
               </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input5">These hashtags</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-md-3 ">
               <input type="text" name="contact_name"  id="input5">
               </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input6">Written in</label>
               </span>
                            <span class="form-group ">
                  <span class="form-group col-md-3 ">
                     <select type="text" name="contact_name"  id="input6">
                        <option value="volvo">English (en)</option>
                        <option value="saab">Spanish (sp)</option>
                        <option value="mercedes">French (fr)</option>
                        <option value="audi">German (de)</option>
                     </select>
                  </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
                  <h3><b>People</b></h3>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input7">From these accounts</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-md-3 ">
               <input type="text" name="contact_name"  id="input7">
               </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input8">To these accounts</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-md-3 ">
               <input type="text" name="contact_name" id="input8">
               </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input9">Mentioning these accounts</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-md-3 ">
               <input type="text" name="contact_name"  id="input9">
               </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
                  <h3><b>Places</b></h3>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input10">Near this place</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-sm-2 ">
               <button type="text" name="contact_name" id="input10"><img
                       src="https://cdn1.iconfinder.com/data/icons/map-objects/154/map-object-blue-geo-point-512.png"
                       width="25" style="padding-right: 5px"/>Location</button>
               </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
                  <h3><b>Dates</b></h3>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input10">Run Crawl Until</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-sm-4 input-group input-daterange" style="padding-left: 13px">
               <input type="text" value="{{ date | date:'yyyy-MM-dd'}}">
               </span>
               </span>
                        </div>
                        <div class="row">
               <span class="form-group col-md-3 col-md-offset-1 ">
               <label for="input10">Include up to 3,000 existing Tweets</label>
               </span>
                            <span class="form-group ">
               <span class="form-group col-sm-4 input-group" style="padding-left: 13px">
               <input type="checkbox" name="bootstrapSearch" value="bootstrapSearch">
               </span>
               </span>
                        </div>
                    </div>
                </div>
                   <div class="row" layout-align="center center" style="text-align: center;">
         <span>
            <md-button class="md-raised md-small md-warn" data-ng-click="submitReport()"
                       type="submit">Create Report</md-button>
         </span>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- /.container -->
<script>
    $(document).ready(function () {
        $('.input-daterange input').datepicker({});
    });

    $('#input2').selectize({
        plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: function(input) {
            return {
                value: input,
                text: input
            }
        }
    });

    $('#input3').selectize({
        plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: function(input) {
            return {
                value: input,
                text: input
            }
        }
    });

   $('#input4').selectize({
       plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: function(input) {
            return {
                value: input,
                text: input
            }
        }
    });
</script>