<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header" style="text-align: center">Create New Report
            </h1>
        </div>
    </div>
    <!-- /.row -->
<form name="newreportform" ng-submit="submit()">
    <div class="row" layout-padding >
    Enter the Report Name:

    <input name="reportname" type="text" ng-model="report.name" ng-maxlength="8" required />
    </div>


    <div class="row" style="text-align: center;">

        <div class="col-sm-4" layout-padding layout-align="center center">

            <div id="teamCheckboxList" class="checkboxList">
                <input class="form-control ng-pristine ng-valid ng-touched" placeholder="Job Selection Search" data-ng-model="jobSearch" type="text">
            <div ng-repeat="jobname in jobs | filter:jobSearch" style="text-align: left;">
                <label><input
                        type="checkbox"
                        name="jobname"
                        value="{{jobname}}"

                        ng-checked="selection.indexOf(jobname) > -1"
                        data-ng-model="job.selected"

                        ng-click="toggleJobSelection(jobname)"
                        ng-trim="false"
                /> {{jobname}}
                </label>

            </div>
            </div>

        </div>


        <div class="col-sm-4" layout-align="center center" layout-padding>
            <div class="row">
            <md-content>
            <h4>Enter Start Date</h4>
            <md-datepicker
                    ng-model="report.startDate"
                    md-placeholder="Enter date"
                    md-current-view="year" ></md-datepicker>
            </md-content>
            </div>
            <div class="row">
                <md-content>
                <h4>Enter End Date</h4>
                <md-datepicker
                        ng-model="report.endDate"
                        md-placeholder="Enter date"
                        md-current-view="year" ></md-datepicker>
            </md-content>
            </div>



        </div>


        <div class="col-sm-4" layout-align="center center" layout-padding>
            <div class="row">

                <h4>Filter Map by:</h4>
                <div class="row">
                <label><input
                        type="checkbox"
                        id="tweetMapFilter"
                        value="Tweets"
                        checked="checked"
                /> Tweets
                </label>
                </div>
                <div class="row">
                <label><input
                        type="checkbox"
                        id="imageMapFilter"
                        value="Images"
                        checked="checked"
                /> Images
                </label>
                </div>

                <div class="row">
                <label><input
                        type="checkbox"
                        id="videoMapFilter"
                        value="Videos"
                        checked="checked"
                /> Videos
                </label>
                </div>




            </div>





        </div>


    </div>

<div class="row" layout-padding >
    <div class="row" layout-padding >
                    <span class="form-group col-md-3">
                        <h3><b>Words</b></h3>
                    </span>
    </div>



    <div class="row" layout-padding >
                    <span class="form-group col-md-3 ">
                        <label for="input2">All of these words</label>
                    </span>
        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" ng-model="report.allWords" class="form-control" id="input2">
                        </span>
                    </span>
    </div>

    <div class="row" layout-padding >
                    <span class="form-group col-md-3 ">
                        <label for="input3">Any of these words</label>
                    </span>
        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" ng-model="report.anyWords" class="form-control" id="input3">
                        </span>
                    </span>
    </div>

    <div class="row" layout-padding >
                    <span class="form-group col-md-3">
                        <label for="input4">None of these words</label>
                    </span>
        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" ng-model="report.excludedWords" class="form-control" id="input4">
                        </span>
                    </span>
    </div>
</div>

    <div class="row" layout-align="center center" style="text-align: center;">


            <span ><md-button class="md-raised md-small md-warn" data-ng-click="submitReport()" ng-disabled="newreportform.$invalid" type="submit">Create Report</md-button></span>








    </div>
    <div class="row">
        <span data-ng-click="showDetails=!showDetails">
            <md-button class="md-raised md-small md-warn">
                <i class="fa fa-chevron-down" ng-show="!showDetails"></i><i class="fa fa-chevron-up" ng-show="showDetails"></i>
                    Advanced Report
            </md-button>
        </span>
        <div ng-show="showDetails">






                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <h3><b>Words</b></h3>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input1">This exact phrase</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" class="form-control" id="input1">
                        </span>
                    </span>
                    </div>



                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input5">These hashtags</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" class="form-control" id="input5">
                        </span>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input6">Written in</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <select type="text" name="contact_name" class="form-control" id="input6">
                                <option value="volvo">English (en)</option>
                                <option value="saab">Spanish (sp)</option>
                                <option value="mercedes">French (fr)</option>
                                <option value="audi">German (de)</option>
                            </select>
                        </span>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <h3><b>People</b></h3>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input7">From these accounts</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" class="form-control" id="input7">
                        </span>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input8">To these accounts</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" class="form-control" id="input8">
                        </span>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input9">Mentioning these accounts</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-md-3 ">
                            <input type="text" name="contact_name" class="form-control" id="input9">
                        </span>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <h3><b>Places</b></h3>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input10">Near this place</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-sm-2 ">
                            <button type="text" name="contact_name" class="form-control" id="input10"><img src="https://cdn1.iconfinder.com/data/icons/map-objects/154/map-object-blue-geo-point-512.png" width="25" style="padding-right: 5px" />Location</button>
                        </span>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <h3><b>Dates</b></h3>
                    </span>

                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input10">Run Crawl Until</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-sm-4 input-group input-daterange" style="padding-left: 13px">
                            <input type="text" class="form-control" value="{{date | date:'yyyy-MM-dd'}}">
                        </span>
                    </span>
                    </div>

                    <div class="row">
                    <span class="form-group col-md-3 col-md-offset-1 ">
                        <label for="input10">Include up to 3,000 existing Tweets</label>
                    </span>
                        <span class="form-group ">
                        <span class="form-group col-sm-4 input-group" style="padding-left: 13px">
                            <input type="checkbox" name="bootstrapSearch" value="bootstrapSearch">
                        </span>
                    </span>
                    </div>



            
        </div>





    </div>
    <!-- /.row -->
    <div class="row">
    </div>
</form>
</div><!-- /.container -->
<script>
    $(document).ready(function() {
        $('.input-daterange input').datepicker({
        });
    });
</script>